<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">房间列表</h4>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let room of rooms">
                              <td>{{room.room_number}}</td>
                              <td>{{room.room_type}}</td>
                              <td>{{room.price}}</td>
                              <td>{{room.description}}</td>
                              <td>{{room.is_ordered ? '是' : '否'}}</td>
                              <td>  
                                <button (click)="goBack()" class="btn btn-success btn-fill">修改</button>
                                <button class="btn btn-danger btn-fill">删除</button>
                              </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">编辑房间</h4>
                </div>
                <div class="content">
                    <room-detail></room-detail>
                </div>      
            </div>
        </div>


        <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                    <h4 class="title">Orders Table</h4>
                    <p class="category">Here is Orders Table</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                           <!-- <tr *ngFor="let row of tableData2.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>-->
                            <tr *ngFor="let order of orders">
                              <td>{{order.id}}</td>
                              <td>{{order.room_id}}</td>
                              <td>{{order.visitor_id}}</td>
                              <td>{{order.start_date}}</td>
                              <td>{{order.end_date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Visitors Table</h4>
            <p class="category">Here is Visitors Table</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-striped">
              <thead>
              <tr>
                <th *ngFor="let cell of tableData3.headerRow">{{ cell }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let visitor of visitors">
                <td>{{visitor.id}}</td>
                <td>{{visitor.gender}}</td>
                <td>{{visitor.identityCard}}</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
</div>
