
<div class="content">
  <form (submit)="save()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>编号</label>
          <input type="text" class="form-control border-input" placeholder="房间编号：比如201" [(ngModel)]="room.room_number" name="number">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>类型</label>
          <input type="text" class="form-control border-input" placeholder="房间类型" name="type" [(ngModel)]="room.room_type">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="exampleInputEmail1">价格</label>
          <input type="number" class="form-control border-input" placeholder="房间价格" min="0" [(ngModel)]="room.price" name="price">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>介绍</label>
          <textarea rows="5" class="form-control border-input" placeholder="房间简介" [(ngModel)]="room.description" name="description">
          </textarea>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-info btn-fill btn-wd">更新</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
