

input {
 padding-left: 30px !important;
}

body {
 background-color: #f4f3ef !important;
}

p {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Pingfang-SC,"Microsoft Yahei",SimHei,Arial,sans-serif !important;
}
