
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="/dashboard" class="simple-text">
            <div class="logo-img">
                <img src="https://cdn.v2ex.com/gravatar/2a3ba938977b0c550d5754b1e7adb3e6?s=50&d=identicon" alt="">
            </div>
            欢迎，<span>{{username}}</span>
        </a>
    </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
