
<div class="content">
  <form (submit)="save()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>房间号</label>
          <input disabled="false" type="text" class="form-control border-input"  [(ngModel)]="room.room_number" name="number">
          <!--<input disabled="false" type="text" class="form-control border-input" value="12" name="number">-->
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>年龄</label>
          <input type="text" class="form-control border-input" placeholder="年龄" [(ngModel)]="visitor.gender" name="type">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>身份证号</label>
          <input type="text" class="form-control border-input" placeholder="身份证号" [(ngModel)]="visitor.identity_card" name="identityCard">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>开始时间</label>
          <input type="text" class="form-control border-input"datetime="yyyy-MM-dd HH:mm:ss" placeholder="开始时间：yyyy-MM-dd HH:mm:ss"[(ngModel)]="order.start_date" name="start_date">
          <!--<textarea rows="5" class="form-control border-input" placeholder="房间简介" [(ngModel)]="room.description" name="description">
          </textarea>-->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>结束时间</label>
          <input type="text" class="form-control border-input" datetime="yyyy-MM-dd HH:mm:ss" placeholder="结束时间：yyyy-MM-dd HH:mm:ss" [(ngModel)]="order.end_date" name="end_date">
          <!--<textarea rows="5" class="form-control border-input" placeholder="房间简介" [(ngModel)]="room.description" name="description">
          </textarea>-->
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-info btn-fill btn-wd">提交</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
