<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">订房者列表</h4>
    </div>
    <div class="content table-responsive table-full-width">
      <table class="table table-striped" id="visitor_table">
        <thead>
        <tr>
          <th *ngFor="let cell of tableData.headerRow">{{ cell }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let visitor of visitors">
          <td>{{visitor.id}}</td>
          <td>{{visitor.gender}}</td>
          <td>{{visitor.identity_card}}</td>
          <td>
            <button class="btn btn-danger btn-fill" (click)="delete(visitor.id)">删除</button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
