<div class="container-fluid">
  <div class="row">
      <div class="col-lg-4 col-sm-6">
          <div class="card">
              <div class="content">
                  <div class="row">
                      <div class="col-xs-2">
                          <div class="icon-big icon-warning text-center">
                              <i class="ti-bag"></i>
                          </div>
                      </div>
                      <div class="col-xs-10">
                          <div class="numbers">
                              <p>房间统计</p>
                              105
                          </div>
                      </div>
                  </div>
                  <div class="footer">
                      <hr />
                      <div class="stats">
                          <i class="ti-reload"></i> Updated now
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6">
          <div class="card">
              <div class="content">
                  <div class="row">
                      <div class="col-xs-2">
                          <div class="icon-big icon-success text-center">
                              <i class="ti-wallet"></i>
                          </div>
                      </div>
                      <div class="col-xs-10">
                          <div class="numbers">
                              <p>订单统计</p>
                              1,345
                          </div>
                      </div>
                  </div>
                  <div class="footer">
                      <hr />
                      <div class="stats">
                          <i class="ti-calendar"></i> Last day
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6">
          <div class="card">
              <div class="content">
                  <div class="row">
                      <div class="col-xs-2">
                          <div class="icon-big icon-danger text-center">
                              <i class="ti-pulse"></i>
                          </div>
                      </div>
                      <div class="col-xs-10">
                          <div class="numbers">
                              <p>房客统计</p>
                              23
                          </div>
                      </div>
                  </div>
                  <div class="footer">
                      <hr />
                      <div class="stats">
                          <i class="ti-timer"></i> In the last hour
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">

      <div class="col-md-12">
          <div class="card">
              <div class="header">
                  <h4 class="title">统计图表</h4>
                  <p class="category">一周信息</p>
              </div>
              <div class="content">
                  <div id="chartHours" class="ct-chart"></div>
                  <div class="footer">
                      <div class="chart-legend">
                          <i class="fa fa-circle text-info"></i> 客房
                          <i class="fa fa-circle text-danger"></i> 房客
                          <i class="fa fa-circle text-warning"></i> 订单
                      </div>
                      <hr>
                      <div class="stats">
                          <i class="ti-reload"></i> Updated 3 minutes ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
